.primary-button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $secondary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba($primary-color, 0.15);
  border-radius: 4px;
  border: none;

  &--flex {
    @include flexCenter(flex);
  }
}

.primary-button__icon {
  margin-left: 10px;
}

.primary-button--flex {
  &:hover {
    background-color: $accent-shade-color;
    transition: background-color $animation-duration $timing-function;
  }
}

.primary-button {
  &:hover {
    background-color: $accent-shade-color;
    transition: background-color $animation-duration $timing-function;
  }
}

.secondary-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background-color: $secondary-shade-color;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
