.contacts {
  display: flex;
  margin-left: auto;

  &__item:last-child {
    margin-left: 50px;
  }
}

.contacts__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-shade3-color;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: color $animation-duration $timing-function;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
