.dignity-section {
  padding: 94px 0 47px 0;
}

.dignity-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.dignity-container__header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dignity-cards {
  display: flex;
  justify-content: space-between;
}

.dignity-cards__item {
  width: 270px;
}

.dignity-cards__background {
  padding: 25px 0;
  text-align: center;
  border-radius: 4px;
  background-color: $hover-secondary-button;
}

.dignity-cards__content {
  margin-top: 30px;
}

.dignity-cards__text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.dignity-cards__description {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
