.examples-section {
  padding-bottom: 47px;
}

.examples-title {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.examples {
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
  }
}

.examples__overlay {
  position: absolute;
  padding: 27px 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $overlay-background;
}

.examples__text {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;
}
