.footer {
  font-style: normal;
  background-color: $footer-background-color;
  text-align: left;
  padding: 60px 0 60px 15px;

  &__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
  }
}

.map-link {
  @extend %footer-contacts-font;
  color: $white-color;
}

.contacts-link {
  @extend %footer-contacts-font;
  color: $footer-contacts-color;
}

.footer__contacts-item {
  margin-top: 9px;
}

.footer__social-wrapper {
  margin-left: 70px;
}

.footer__title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.social-list--footer {
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    fill: currentColor;
  }
}
