.section-header {
  border: 1px solid $border-color;
}

.container-header {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-header__logo {
  text-decoration: none;
  font-family: $font-Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $logo-black-color;

  &--blue {
    color: $blue-color;
  }
}
