.backdrop {
  position: fixed;
  z-index: 1;

  @include transition(opacity);

  width: 100%;
  height: 100%;
  background-color: rgba($primary-color, 0.2);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba($primary-color, 0.12),
    0px 1px 1px rgba($primary-color, 0.14),
    0px 2px 1px rgba($primary-color, 0.2);
  border-radius: 4px;
  background-color: $secondary-color;
  @include transition(transform);
}

.close-button {
  display: flex;
  align-items: center;
  content: "";
  height: 30px;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background: $secondary-color;
  border: 1px solid rgba($primary-color, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  @include transition(color);

  &:hover {
    color: $accent-color;
  }
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-shade-color;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary-shade3-color;
  }

  &__group-absolute {
    position: relative;
  }

  &__input-icon {
    padding: 12px 20px 12px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba($primary-shade-color, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $font-inherit;
  }

  &__icon {
    fill: currentColor;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);
  }
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $secondary-shade3-color;
  }

  &__zone {
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba($primary-shade-color, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    resize: none;
  }
}

.checkbox__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-shade3-color;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked + .checkbox__icon {
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    @include transition(background-image);
  }
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  fill: $primary-shade-color;
  background-image: url(../images/icon-nocheck.svg);
}

.checkbox__link {
  color: $accent-color;
  font-family: $font-inherit;
}
