.team-section {
  padding: 94px 0;
  background-color: var(--hover-secondary-button);
}

.team-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  &__header {
    padding-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.team-cards {
  display: flex;
  justify-content: space-between;
}

.team-foto {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-info {
  padding: 30px 0 16px 0;

  &__name {
    padding: 0 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

.team-social {
  display: flex;
  padding: 0 32px 30px 32px;
  justify-content: space-around;

  &__item {
    color: $icon-color;
    background-color: $white-color;
  }

  &__link {
    color: $icon-color;
    background-color: $white-color;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;

    &:hover {
      background-color: $blue-color;
      color: $white-color;
      transition: background-color $animation-duration $timing-function;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
