.main-theme {
  padding: 200px 0;
  background-color: $footer-background-color;
  text-align: center;
}

.theme-background {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.theme {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  &__header {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
  }
}

.theme__button {
  @extend %main-button;

  &:hover {
    background-color: $hover-main-button;
    transition: background-color $animation-duration $timing-function;
  }
}
