body {
  background: $white-color;
  color: $main-text-color;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
